extends includes/layout/layout.pug
block pages
  include includes/components/mdc-button.pug
  include includes/components/mdc-text-field.pug

  -
    const dataMailbox = [
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Jane Smith',
        enquiryType: 'Properties',
        subject: 'Properties Inquiry',
        status: 'New',
        lastUpdated: '01/03/2021, 10:30AM',
      },
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Helga Whittard',
        enquiryType: 'Others',
        subject: 'Unable to Find',
        status: 'Pending',
        lastUpdated: '01/03/2021, 10:30AM',
      },
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Richard Vander',
        enquiryType: 'My Account',
        subject: 'Family Tree Change Request',
        status: 'Closed',
        lastUpdated: '01/03/2021, 10:30AM',
      },
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Jane Smith',
        enquiryType: 'Properties',
        subject: 'Properties Inquiry',
        status: 'New',
        lastUpdated: '01/03/2021, 10:30AM',
      },
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Helga Whittard',
        enquiryType: 'Others',
        subject: 'Unable to Find',
        status: 'Pending',
        lastUpdated: '01/03/2021, 10:30AM',
      },
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Richard Vander',
        enquiryType: 'My Account',
        subject: 'Family Tree Change Request',
        status: 'Closed',
        lastUpdated: '01/03/2021, 10:30AM',
      },
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Jane Smith',
        enquiryType: 'Properties',
        subject: 'Properties Inquiry',
        status: 'New',
        lastUpdated: '01/03/2021, 10:30AM',
      },
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Helga Whittard',
        enquiryType: 'Others',
        subject: 'Unable to Find',
        status: 'Pending',
        lastUpdated: '01/03/2021, 10:30AM',
      },
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Richard Vander',
        enquiryType: 'My Account',
        subject: 'Family Tree Change Request',
        status: 'Closed',
        lastUpdated: '01/03/2021, 10:30AM',
      },
      {
        date: '01/03/2021, 10:30AM',
        sender: 'Jane Smith',
        enquiryType: 'Properties',
        subject: 'Properties Inquiry',
        status: 'New',
        lastUpdated: '01/03/2021, 10:30AM',
      },
    ]

  .app-main-body 
    .app-body-header
      .app-des Mailbox
      .app-title All Mail
    .app-body-main
      .mailbox-page
        .table-main-wrapper 
          form(action="#").custom-style-form.table-main-header.d-flex.align-items-center.justify-content-between.flex-wrap
            .header-item.d-flex.align-items-center.flex-wrap
              +MdcTextField({ type: 'date' })
              +MdcTextField({ type: 'date' })
              +MdcTextField({ type: 'select', dataSelectOptions: ['Status', 'Status 1', 'Status 2'] })
              +MdcTextField({ type: 'select', dataSelectOptions: ['Enquiry Type', 'Enquiry Type 1', 'Enquiry Type 2'] })
              
            .header-item.d-flex.align-items-center.flex-wrap
              +MdcButton({ icon: './assets/icons/icon-search.svg' })
              +MdcButton({ icon: './assets/icons/icon-download.svg' })
              
          .table-main
            .table-main-body 
              table 
                thead 
                  tr 
                    td.center.nowrap Date & Time Received
                    td.center.nowrap Sender
                    td.center.nowrap Enquiry Type
                    td.min-width-150 Subject
                    td.center Status
                    td.center Status Last Updated On
                    td.table-action
                tbody 
                  each item in dataMailbox
                    tr(class=`${item.status === 'New' ? 'bold' : item.status === 'Closed' ? 'disabled' : ''}`)
                      td.center.nowrap= item.date 
                      td.center.nowrap= item.sender    
                      td.center.nowrap= item.enquiryType
                      td.min-width-150= item.subject
                      td
                        .tag-label-group.d-flex.justify-content-center 
                          .tag-item(class=`${item.status.toLowerCase()}`)= item.status
                      td.center= item.lastUpdated
                      td.table-action.center 
                        a(href="#").table-see-more
                          img(src="./assets/icons/icon-eye.svg", alt="")

            .table-main-footer.d-flex.align-items-center.justify-content-end 
              .table-page-info 1 - 10 of 33
              form(action="#").table-page-action.d-flex.align-items-center
                button.action-icon(disabled)
                  img(src="./assets/icons/icon-angle-line-left.svg", alt="")
                button.action-icon(disabled)
                  img(src="./assets/icons/icon-angle-left.svg", alt="")
                .action-page Page 1
                button.action-icon
                  img(src="./assets/icons/icon-angle-line-right.svg", alt="")
                button.action-icon
                  img(src="./assets/icons/icon-angle-right.svg", alt="")