mixin MdcTextField(data)
  label.mdc-text-field.mdc-text-field--filled(class=`${data.type === 'date' ? 'mdc-input-date' : ''} ${data.type === 'select' ? 'mdc-select' : ''} ${data.type === 'textarea' ? 'mdc-textarea' : ''} ${data.type === 'time' ? 'mdc-time' : ''}`)
    span.mdc-text-field__ripple
    if data.placeholder 
      span.mdc-floating-label(id=`${data.id ? data.id : ''}`)= data.placeholder
    if data.type === 'textarea'
      span.mdc-text-field__resizer
        textarea.mdc-text-field__input(maxlength=`${data.maxLength}` aria-labelledby=`${data.id ? data.id : ''}` aria-label="Label")
    else
      input(type=`${data.type}` aria-labelledby=`${data.id ? data.id : ''}`).mdc-text-field__input
    if data.type === 'date'
      img(src="./assets/icons/icon-calendar-gray.svg", alt="").icon-date
    if ['time'].includes(data.type)
      img(src="./assets/icons/icon-angle-down-gray.svg", alt="").icon-select
    span.mdc-line-ripple
  
  if data.isCounter 
    .mdc-text-field-helper-line
      .mdc-text-field-character-counter 0 / 10